/* General styles */
* {
  padding: 0;
  margin: 0;
  font-family: 'Urbanist', sans-serif;
}

/* Navigation Bar styles */
.navbar {
  background: #00882D;
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  text-align: center;
  display: flex;
  padding: 20px;
}

/* Logo-brand styles */
.logo-brand {
  display: flex;
  align-items: center;
}

/* Logo styles */  
.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo i {
  font-size: 27px;
  color: #00882E;
}

/* Brand styles */
.brand {
  font-weight: 900;
  font-size: 27px;
  color: #FFFFFF;
  margin-left: 6px;
}

li {
  display: inline-block;
}

li a:hover {
  background-color: #0069ce;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 12px;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
}

.menu li a i {
  margin: 2px;
  font-size: 24px;
  text-align: center;
}

.menu li span {
  font-size: 20px;
}

.search {
  text-align: center;
  display: flex;
  padding: 20px;
  justify-content: right;
}

.example{
  margin-right: 6px;
  padding: 20px;
}

.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  background-color: #0069CE;
  border: 1px;
  border-radius: 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); 
  color: #ffffff;
  outline: none;
  transition: background-color 0.3s, transform 0.2s ease-out;
}

.example input[type=text]:hover {
  transform: scale(1.02); /* Efek scaling saat hover */
}

::placeholder {
  color: #ffffff;
  opacity: 80%;
}

/* Main content styles */
.main {
  background-color: #ebe8e8;
}

section {
  padding: 20px;
}

.content1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.content1 h2 {
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  margin-right: 100px;
}

.bold-value {
  font-weight: bold;
  font-size: 22px;
}

/* Float the columns side by side */
.column {
  float: left;
  height: 58px;
  padding: 0 10px;
  flex-wrap: wrap;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.card:hover {
  transform: scale(1.05); /* Slight scale on hover */
}

.card .value {
  text-align: center;
  font-size: 10px;
  padding: 10px 10px 10px 10px;
}

.card i {
  width: 40px;
  height: 100%;
  font-size: 30px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 15px 0px 15px 15px;
  background-color: #f1d302;
}

.grid-container {
  grid-template-columns: auto 227px;
  grid-template-rows: auto;
  display: grid;
  padding: 20px;
  column-gap: 16px;
}

.grid1 {
  display: grid;
  row-gap: 20px;
}

.content2 {
  display: flex;
  flex-wrap: wrap;
}

.bar {
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center; 
  margin-right: 19px;
  width: 407.15px;
  height: 197.96px;
}

.pie {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#barChart {
  display: block;
  margin: auto;
}

.pie1 {
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 13px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center; 
  margin-right: 13px;
  width: 189.75px;
  height: 197.96px;
}

#pieChart1, #pieChart2, #pieChart3{
  padding: 10px;
}

.mr-0 {
  margin-right: 0;
}

.content3 {
  display: flex;
  flex-wrap: wrap;
}

.line1 {
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center; 
  width: 495.85px;
  height: 200.29px;
  margin-right: 29px;
}

.line2 {
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center; 
  width: 495.85px;
  height: 200.29px;
}

#lineChart1, #lineChart2 {
  display: block;
  margin: auto;
}

/* Ensure content4 container maintains its size */
.content4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: rgba(82, 82, 82, 0.15);
  box-sizing: border-box;
  text-align: center;
  margin-right: 30px;
  border-radius: 10px;
  position: relative; 
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 74px;
}

/* Slider container */
.slider {
  position: relative;
  width: 100%;
  height: 100%; /* Allow slider to take the full height of content4 */
  overflow: hidden;
}

/* Slide items */
.slides {
display: flex;
transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  height: 100%; /* Ensure each slide takes the full height */
  display: flex;
  align-items: center; /* Vertically center the content of each slide */
  justify-content: center; /* Horizontally center the content of each slide */
}

/* Previous and Next button styles */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 24px; 
  padding: 0 12px; 
  background-color: rgba(0, 0, 0, 0.5); 
  transition: background-color 0.3s ease;
  border: none; 
  outline: none; 
  z-index: 1; 
}

.prev {
  left: 10px; 
}

.next {
  right: 10px; 
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); 
}

/* Dot navigation styles */
.dot-container {
  text-align: center;
  position: relative;
  top: 5px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #b8b4b4;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #767474;
}

.content5 {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #c2292e;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content6 {
  margin: 0 auto;
  width: 95%; /* Mengubah lebar kontainer menjadi 95% dari lebar layar */
  text-align: center;
}

table {
  border-collapse: separate; /* Membuat border-collapse terpisah */
  border-spacing: 0; /* Menghilangkan jarak antar sel */
  margin: 0 auto;
  margin-top: 15px;
  width: 100%; /* Buat tabel mengisi lebar kontainer */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Memberikan border-radius pada tabel */
  overflow: hidden; /* Menghilangkan overflow */
}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f0666a;
  color: #fff; /* Warna teks putih */
  font-weight: bold;
  text-transform: uppercase;
}

td {
  background-color: #FFFFFF;
  color: #555;
  transition: background-color 0.3s ease;
}

/* Mengubah warna baris saat hover */
tbody tr:hover td {
  background-color: #f5f5f5;
}

/* Mengatur lebar kolom */
th:nth-child(1),
td:nth-child(1) {
  width: 250px; /* Lebih lebar untuk Order ID */
}

th:first-child {
  border-top-left-radius: 10px; /* Memberikan border-radius pada th pertama */
}

th:last-child {
  border-top-right-radius: 10px; /* Memberikan border-radius pada th terakhir */
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px; /* Memberikan border-radius pada td pertama di baris terakhir */
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px; /* Memberikan border-radius pada td terakhir di baris terakhir */
}

#pagination {
  margin-top: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  background-color: #f0f0f0;
  border-radius: 5px;
}

#pagination a.active {
  font-weight: bold;
  background-color: #c2292e;
  color: #fff;
}

.filtering {
  width: auto;
  height: auto;
}

.filtering h2 {
  font-size: 20px;
  background-color: #00882e;
  text-align: center;
  border-radius: 10px;
  margin-top: 9px;
  margin-bottom: 6px;
  width: 175px;
  color: #ffffff;
  padding: 4px;
  line-height: 40px;
}

.filter {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.filter h3{
  font-size: 18px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 10px;
  margin-top: 9px;
  margin-bottom: 6px;
  width: 184px;
  background-color: #ffffff;
  text-align: center;
  line-height: 35px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.container:active input ~ .checkmark {
  background-color: black;
  cursor: pointer;
  transform: scale(1.1); /* Efek scaling saat hover */
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6.5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.title {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #235789;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Add these styles for content7 and team members */
.grid2 {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 45px;
}

.content7-1{
  position: relative;
  display: flex;
  height: 175px;
  width: 100%;
  background-color: #d9d9d9;
  margin-top: 40px;
  justify-content: space-between;
}

.content7-2{
  position: relative;
  display: flex;
  height: 175px;
  width: 100%;
  background-color: #d9d9d9;
  margin-top: 65px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.team-member {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.team-member img {
  width: 150px;
  height: 190px;
  object-fit: cover;
  margin-bottom: -4px;
  margin-top: -30px;
}

.member-name {
  font-weight: 600;
  font-size: 16px;
  padding: 5px 22px;
  background-color: #ffffff;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 4px 8px 0 rgba(150, 41, 41, 0.2);
  margin: 0px 10px;
}

.role {
  font-size: 14px;
  padding: 5px 22px;
  background-color: #f1d302;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0px 10px;
}


footer {
  background-color: #021780 !important;
  color: white;
  text-align: center;
  padding: 12px;
}

/* Responsiveness */
@media (max-width: 1352px) {
  .content2{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-content: space-around;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .bar {
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #ffffff;
    box-sizing: content-box;
    border-radius: 10px;
    text-align: center;
    margin-right: 19px;
    width: 495.85px;
    height: 200.29px;
    margin-bottom: 10px;
  }

  .line1, .line2{
    margin: 0px 10px 10px 0px;
    box-sizing: content-box;
    padding: 16px;
  }

  .content3{
    justify-content: center;
  }

  .member-name {
    font-weight: 600;
    font-size: 14px;
    padding: 5px 22px;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 4px 8px 0 rgba(150, 41, 41, 0.2);
    margin: 0px 10px;
  }
}

@media (max-width: 1050px) {
  .grid2 {
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 20px;
  }

  .content7-1, .content7-2 {
    height: auto; 
    display: contents;
  }
}

@media (max-width: 935px) {
  .pie{
    justify-content: space-between;
  }
  .pie1 {
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 13px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    margin-right: 13px;
    width: 168.75px;
    height: 173.96px;
  }
}

@media (max-width: 860px) {
  .pie{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .pie1{
    margin: 10px 20px;
  }  
}

@media (min-width: 861px){
  .icons {
    display: none;
  }
}

@media (max-width: 860px) {
  .menu, .example { 
    display: none;
  }

  .icons {
    display: flex;
    margin-right: 10px;
  }
  
  .icons i {
    margin-left: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
  }
  .hamburger, .search-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    padding: 15px;
  }

  /* Sesuaikan penempatan ikon hamburger */
  .navbar {
    justify-content: space-between;
  }

  /* Tampilkan menu saat ikon hamburger di klik */
  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 15px;
    background-color: #333;
    border: 1px solid #fff;
    padding: 10px;
  }

  .menu li {
    margin: 10px 0;
  }

  /* Tampilkan search box saat ikon pencarian di klik */
  .example.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 15px;
    background-color: #333;
    border: 1px solid #fff;
    padding: 10px;
  }

  .example input {
    width: 200px;
    padding: 5px;
    border: none;
    background-color: #fff;
    color: #333;
  }
  
 
  .grid-container {
    display: inline-flex;
    padding: 20px;
    column-gap: 16px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
  }

  .filtering {
    height: auto;
    text-align: center;
  }

  .filtering h2 {
    position: relative;
    width: auto;
    font-size: 20px;
    background-color: #00882e;
    text-align: center;
    border-radius: 10px;
    margin-top: 9px;
    color: #ffffff;
    padding: 4px;
  }

  .filter {
    position: relative;
    display: inline-flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  .filter h3 {
    font-size: 15px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 10px;
    width: 140px;
    background-color: #ffffff;
    text-align: center;
  }  
  .container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #pagination a {
    margin-bottom: 10px;
  }
}


  
  